:root {
  --altura-topo: 84px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f3f5;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #ffffff;
}

.sidebar__topo {
  height: var(--altura-topo);
  padding: 25px 20px;
  border-bottom: 1px solid #d1d1d1;
}

.header {
  position: fixed;
  top: 0;
  left: 20%;
  right: 0;
  height: var(--altura-topo);
}

.sidebar__logo {
  width: 55%;
  height: auto;
}

.conteudo {
  margin-left: 30%;
  margin-top: var(--altura-topo);
}
